#nav a, #subMenusContainer a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    background: none repeat scroll 0 0 black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
#nav a {
    background: none repeat scroll 0 0 #A3B90E;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 10px 12px;
    text-transform: uppercase;
}
#subMenusContainer a, #nav li li a {
    background-color: #bbe5f3;
    color: #302F2F;
    font-size: 12px;
    padding: 6px 24px;
    text-align: left;
    text-shadow: none;
}
    
    #subMenusContainer a:hover,
    #subMenusContainer a:focus,
    #nav a.mainMenuParentBtnFocused,
    #subMenusContainer a.subMenuParentBtnFocused,
    #nav li a:hover,
    #nav li a:focus {
        background-color: #EB7C10;
        color: #FFF;
    }
/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn {
    background: url(./img/arrow_right.gif) right center no-repeat;
}

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused {
    background: url(./img/arrow_right_over.gif) right center no-repeat;
}

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn {
    background: url(./img/arrow_down.gif) right center no-repeat;
}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused {
    background: url(./img/arrow_down_over.gif) right center no-repeat;
}

.smOW {
    display: none;
    position: absolute;
    overflow: hidden;
    /*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
    padding: 0 2px;
    margin: 0 0 0 -2px;
}
#nav, #nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1em;
}
    #nav ol, #nav ul, #subMenusContainer ul, #subMenusContainer ol {
        /*border around submenu goes here*/
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        background: #bbe5f3;
        border: 1px solid #C3D46A;
        left: 0;
    }
    #nav li {
        display: block;
        list-style: none;
        position: relative;
        float: left;
    }
#nav li:first-child {
    background: none repeat scroll 0 0 transparent;
}
#subMenusContainer li {
    list-style: none outside none;
}
#nav {
    clear: both;
    display: block;
    font-size: 11px;
    margin: 0 auto 0 14px;
    overflow: hidden;
    padding: 0;
    text-shadow: 0 1px 0 #000000;
    width: 946px;
}
#nav .children {
    display: none;
}
#subMenusContainer {
    display: block;
    height: 0;
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000000000;
}

/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#nav li li{	float:none; }

#nav li li a{ /* Just submenu links*/	
    position:relative;
    float:none;
}

#nav li ul { /* second-level lists */
    position: absolute;
    width: 9.5em;
    margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
    margin-top:2.5em;
}

/* third-and-above-level lists */
#nav li ul ul { margin: -1em 0 0 -1000em; }
#nav li:hover ul ul {	margin-left: -1000em; }

/* lists nested under hovered list items */
#nav li:hover ul{	margin-left: 0; }
#nav li li:hover ul {	margin-left: 10em; margin-top:-2.5em;}

/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul {  margin-left: 0; margin-top:2.2em; }
#nav li li a:focus + ul { left:0; margin-left: 1010em; margin-top:-2.2em;}
#nav li li a:focus {left:0;  margin-left:1000em; width:10em;  margin-top:0;}
#nav li li li a:focus {left:0; margin-left: 2010em; width: 10em;  margin-top:-1em;}
#nav li:hover a:focus{ margin-left: 0; }
#nav li li:hover a:focus + ul { margin-left: 10em; }
